/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #ff6347;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input[type="text"],
input[type="password"],
input[type="email"],
button {
    width: 100%;
    padding:10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

main {
    padding: 20px;
}

.featured-destinations {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
}

.featured-destinations h2 {
    margin-top: 0;
}

.destination-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.destination-card .card{
    width: 30%;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.destination-card .card img{
    max-width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.destination-card .card .card-content{
    padding: 10px;
}

.about {
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
}

.about h2 {
    margin-top: 0;
}

footer {
    background-color: #233142;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ff6f3c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
 }

form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}
input[type="submit"] {
    background-color: #155263 ;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #407088;
}

.register-container,
.login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
}

.register-container h2,
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-container form input[type="text"],
.register-container form input[type="email"],
.register-container form input[type="password"]
.login-container form input[type="text"],
.login-container form input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}

.register-container form button[type="submit"]
.login-container form button[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.register-container form button[type="submit"],
.login-container form button[type="submit"]:hover {
    background-color: #0056b3;
}

.all-destination {
    background-color: none;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.destination-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.grid-destination {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

.grid-item img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 10px;
}

.details p {
    margin-bottom: 10px;
}

.delete, .update {
    margin-top: 5px;
    padding: 5px;
    border: none;
}

.delete_button, .update_button {
    background-color: transparent;
    width: 100px;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    outline: none;
}

.delete_button {
    background-color: #dc2f2f;
}

.delete_button:hover {
    background-color: #fd5959;
}

.update_button {
    background-color: #9896f1;
}

.update_button:hover {
    background-color: #afc5ff;
}

.goback {
    padding: 20px;
    text-decoration: none;
}