<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel Itinerary Manager</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Welcome to Travel Itinerary Manager</h1>
        <br>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/get_destinations">My Destinations</a></li>
                    <li><a href="/add_destination">Add Destination</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <section class="featured-destinations">
            <h2>Featured Destinations</h2>
            <div class="destination-card">
                <div class="card">
                    <img src="/static/images/travel1.jpg" alt="Destination 1">
                </div>
                <div class="card">
                    <img src="/static/images/travel2.jpg" alt="Destination 2">
                </div>
                <div class="card">
                    <img src="/static/images/travel3.jpg" alt="Destination 3">
                </div>
                <div class="card">
                    <img src="/static/images/travel4.jpg" alt="Destination 4">
                </div>
                <div class="card">
                    <img src="/static/images/travel5.jpg" alt="Destination 5">
                </div>
                <div class="card">
                    <img src="/static/images/travel6.jpg" alt="Destination 6">
                </div>
            </div>
        </section>
        <section class="about">
            <h2>About Travel Itinerary Manager</h2>
            <p> This is a web application that helps you plan your travel itineraries efficiently. You can add destinations, activities, accommodations, and transportation details to your itineraries and manage them conveniently.</p>
        </section>
    </main>
    <footer>
        <p>2024 Travel Itinerary Manager</p>
    </footer>
</body>
</html>