<!doctype html>
<html lang="{{ get_user_locale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Shadows+Into+Light&family=Whisper&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Travel Itinerary Manager</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 fs-2 title">
                    <span class="fs-2">🛫 </span>{{ 'Travel Itinerary Manager' }}
                </div>
                <div class="col-md-6">
                    <nav class="navbar navbar-expand-md navbar-light justify-content-end">
                        <div class="collapse navbar-collapse" id="b=navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="/">{{ 'Home' }}</a></li>
                                {% if current_user.is_authenticated %}
                                    <li class="nav-item"><a class="nav-link" href="">{{ 'Hi,' }} {{ current_user.username }}</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/logout">{{ 'Logout' }}</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/get_destinations">{{ 'My Destinations' }}</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/add_destination">{{ 'Add Destination' }}</a></li>
                                {% else %}
                                    <li class="nav-item"><a class="nav-link" href="/login">{{ 'Login' }}</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/register">{{ 'Register' }}</a></li>
                                {% endif %}
                                <li class="nav-item dropdown">
                                  <a class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                    {{ 'Language' }}
                                  </a>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="/set_language/en">English</a></li>
                                    <li><a class="dropdown-item" href="/set_language/fr">French</a></li>
                                    <li><a class="dropdown-item" href="/set_language/es">Spanish</a></li>
                                    <li><a class="dropdown-item" href="/set_language/de">German</a></li>
                                    <li><a class="dropdown-item" href="/set_language/it">Italian</a></li>
                                    <li><a class="dropdown-item" href="/set_language/zh">Chinese</a></li>
                                    <li><a class="dropdown-item" href="/set_language/ja">Japanese</a></li>
                                    <li><a class="dropdown-item" href="/set_language/ru">Russian</a></li>
                                  </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <p>{{ 'Current Language:' }} {{ get_user_locale() }}</p>
       <div class="cover-container">
            <div class="row">
                <div class="col-md-6">
                    <h2>{{ 'Where would you like to go?' }}</h2>
                    <img class="travel-emoji" src="https://www.smileysapp.com/emojis/traveling-emoji.png" alt="traveling-smiley">
                </div>
                <div class="col-md-6 square-container">
                </div>
            </div>
        </div>
        <section class="about">
            <h3 class="fw-normal">{{ 'About Travel Itinerary Manager' }}</h3>
            <p class="fst-italic">{{ 'This is a web application that helps you plan your travel itineraries efficiently. You can add destinations, activities, accommodations, and transportation details to your itineraries and manage them conveniently.' }}</p>
        </section>

    </main>
    <footer>
        <p>{{ '2024 Travel Itinerary Manager' }}</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>