<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Destination</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="update-destination">
    <div class="container">
        <h1>Update Destination</h1>
        <form method="POST" action="/update_destination/{{ destination.id }}">
            <label for="poster_url">New Poster URL</label>
            <input type="text" id="poster_url" name="poster_url" value="{{ destination.poster_url }}">


            <label for="activities">Activities</label>
            <textarea id="activities" name="activities" placeholder="List activities">{{ destination.activities }}</textarea>

            <label for="accommodations">Accommodation</label>
            <textarea id="accommodations" name="accommodations" placeholder="Accommodations">{{ destination.accommodations }}</textarea>

            <label for="transportation">Activities</label>
            <textarea id="transportation" name="transportation" placeholder="Transportation details">{{ destination.transportation }}</textarea>

            <input type="submit" value="Update">
        </form>
    </div>

</body>
</html>